<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613674444074-svjk2kcgatsvmonqvd937bq618nk6aq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613674444074-svjk2kcgatsvmonqvd937bq618nk6aq4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>613674444074-iklldvg4svr8nbdk2loogrlvc3338ff2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMcO2AP4X3E1Lw9T2E0m9mp0kpIYojXrg</string>
	<key>GCM_SENDER_ID</key>
	<string>613674444074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminAmbient</string>
	<key>PROJECT_ID</key>
	<string>ambient-ec3df</string>
	<key>STORAGE_BUCKET</key>
	<string>ambient-ec3df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613674444074:ios:fb216ca11bab8e8399ea53</string>
</dict>
</plist>